@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #343434;
$bcol: #f3ebdc;
$ff: "Evolventa-bold";
$ff2: "Evolventa";


@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.ttf");
}

@font-face {
  font-family: "Evolventa-bold";
  src: url("../fonts/Evolventa-Bold.ttf");
}

/*header*/

header {
  background-color: #FFFBF4;
  .consulting_btns {
    display: none;
  }
}//header

.header_top-items {  
  align-items: flex-end;
}


.burger__cat {
  display: inline-flex;  
  justify-content: center;
  align-items: center;
  background-color: #0A8;
  border-radius: 10px;  
  padding: 0 17px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: #FFF;
  gap: 8px;
  cursor: pointer;  
  flex: none;
  font-family: $ff2;
}

.searchbar_and_other-elements {
  margin-top: 33px;
  .search_form-top {  
    flex-grow: 1;
  }
  .find_input-site {
    width: 100%;
    height: 42px;
  }
} 

.logo_item {  
  flex: none;
  max-width: 270px;
}

.logo_description p {
  max-width: unset;
}

.calls_info_actions {
  display: flex;  
  align-items: center;
  gap: 20px;  
  justify-content: flex-end;
}

.info_actions_btn_or,
.info_actions_btn_gr {
  display: inline-flex;  
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 42px;
  gap: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: #FFF;
  white-space: nowrap;  
  flex: none;
  font-family: $ff2;
}

.info_actions_btn_or {
  padding: 0 17px;
  background-color: #FF8810;
}

.info_actions_btn_gr {
  padding: 0 13px;  
  background-color: #0A8;
}

.calls_info_item-text {
  display: flex;
  margin-bottom: 11px;
  align-items: flex-start;  
  justify-content: flex-end;
  p {    
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: rgba(#1A1A1A, 0.4);
    display: flex;    
    align-items: center;
    margin-left: 12px;
    flex: none;
    svg {
      margin-right: 5px;      
      flex: none;
    }
  }
}

.calls_info_item {
  &._last {
   max-width: 380px;
   flex: none; 
   margin-left: 25px;
 }
}

.menu_top_and_searchbar-item {  
  flex: 1 1 auto;
  margin-left: 40px;
}

.menu_top_and_searchbar_socials {
  display: flex;  
  align-items: center;  
  justify-content: space-between;
  position: relative;
  .social-list_item {
    position: absolute;
    right: 30px;
    top: 0;
    display: flex;    
    align-items: center;    
    flex-direction: row;
    gap: 12px;
    a {
      width: 24px;
      height: 24px;
      img {
        width: 24px;
        height: 24px;
      }      
    }
  }
}

.phone_top_calls-w {
  order: -1;
}

.phone_top-header {
  white-space: nowrap;
  letter-spacing: -0.05em;
  line-height: 1;
  display: flex;
  align-items: center;
  position: relative;
  svg {            
    position: absolute;
    left: -33px;
    top: -2px;
    flex: none;
    margin-right: 4px;
  }
}

.callback-header {
  line-height: 1;
  font-family: $ff2;
  
  display: inline-block;
  transform: translateY(-5px);
}

.menu_site-items,
.menu_top-header {
  display: none;
}

.menu_top_and_searchbar-item-title {
  text-align: center;
  font-size: 20px;
  font-family: $ff;
  width: 100%;
  padding-right: 100px;
}


///2000

@media (max-width: 1400px) {
  header .container {
    padding: 0 15px;
  }
}


@media (max-width : 1199px) {
  .menu_top_and_searchbar-item-title {
    font-size: 1.2vw;
  }
}//1199


@media (max-width : 900px) {
  header .container {
    padding: 0;
  }
  .logo_menu_text {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: auto;
    }
    span {
      display: none;
    }
  }

  .header_mobile {
    padding: 15px;
    display: flex;    
    align-items: center;
  }

  .header_mobile_l,
  .header_mobile_r {
    display: flex;    
    align-items: center;
    width: calc(50% - 25px);
  }

  .header_mobile_l {
    gap: 39px;        
    align-items: center;
  }

  .header_mobile_r {
    gap: 30px;    
    justify-content: flex-end;
    
    .social-list_item {      
      gap: 30px;
      flex-direction: row;
    }
    .phone_top-header svg {      
      position: static;
      display: none;
    }
  }//.header_mobile_r

  .logo_menu_text img {
    margin-right: 0;
  }
  .header_mobile {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}//900


@media (max-width : 767px) {
  .header_mobile_l {
    gap: 31px;
  }

  .header_mobile_r,
  .header_mobile_r .social-list_item {
    gap: 21px;
  }

  .header_mobile_r {

    .phone_top-header {
      font-size: 0;
      svg {
        display: block;
        margin-right: 0;
        width: 34px;
        height: 34px;
      }
    }
    .social-list_item {

      a {
        width: 34px;
        height: 34px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    
  }//.header_mobile_r
  .header_mobile {
    background-color: #FFF;
    padding: 15px 10px;
  }
}//767

@media (max-width : 389px) {

  .header_mobile_r .social-list_item a,
  .header_mobile_r .phone_top-header svg {
    width: 30px;
    height: 30px;
  }
  
  .header_mobile_l,
  .header_mobile_r,
  .header_mobile_r .social-list_item {
    gap: 12px;    
  }
}





